 

* {
   box-sizing: border-box;
  }

  body{
   font-family: 'Roboto', sans-serif;
   background-color: hsl(214, 89%, 48%);
   margin:0;
  }
  header{
   background-color: hsl(214, 76%, 43%);
   display: flex;
   justify-content: space-between;
   box-shadow: 10px;
   height: 70px;
  }
  .logo{
   margin-top: 12px;
   margin-left: 5px;
  }
  .recherche{
   display: flex;
   text-align: right ;
   color: white;
   /* filter: invert(100%); */
  }

 .recherche .loupe{
   display: flex;
   color:white;
   margin-right: 15px;
   filter: invert(100%);
   margin-top: 20px;
   height: 20px;
   width: 20px;
  }

  .recherche .boutton{
   display: inline-flex;
   justify-content: space-between;
   color:rgb(240, 240, 247);
   background-color: hsl(214, 76%, 43%);
   border: 1px solid white;
   border-radius: 5px;
   padding-top: 10px;
   padding-right: 20px;
   padding-bottom: 10px;
   padding-left: 30px;
   margin-top: 10px;
   font-weight: bold;
   font-size:12px ;
   height: 40px;
   margin-right: 5px;
  }
  button.boutton img{
   filter:invert(100%);
   width: 20px;
 	 height: 20px;
   margin-left: 10px;
  }
  .navigation ul{
   display: flex;
   color:white;
   padding: 0;
   justify-content: center;
  }

  .navigation li{
   list-style: none;
  }

  .navigation li a {
   text-decoration: none;
   padding: 0 10px ; 
  }

  .navigation li a:hover {
   background-color: rgb(8, 30, 97);
   height: 50px;
   width: 50px
  }

  .continair-A{
   display: grid;
   grid-template-columns: 50% 50%;
  }
  .continair-A h1{
    font-size: 64px;
    height: 700;
    line-height: 76px;
  }
  .continair-A input{
    border: 1px solid white;
    background-color: rgb(11, 109, 238);
    color: white;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    width: 230px;
    font-weight: bold;
    margin-top: 25px;
  }
   
  .makemagic {
    text-align: center;
    color: white;
    padding-top: 100px;
  }
  .makemagic p{
    line-height: 25px;
    text-align: center;
    font-size: 15px;
  }
  .what{
    max-width: 100%;
    min-width: 400px;
    margin: 0;
    padding:70px 30px;
    text-align: center;
    background-color: white;
  }
  .what h1{
    font-size: 40px;
    height: 700;      /*line-height: 50px*/
  }
  .what p{
    color:rgb(173, 171, 171);
    line-height: 25px;
    font-size: 15px;
  }

  .continair-B{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .howdo{
    color:white;
    width: 100%;
    height: 350px;
    text-align: justify;
    padding-top: 50px;
    padding-left: 50px;
  }
  .howdo h1{ 
   font-size: 40px;
   height: 700;
   line-height: 50px;
  }
  .howdo p{
   font-size: 15px;
   line-height: 25px;
  }
  .howdo a{
   display:inline-block;
   padding-top: 20px;
   text-decoration: none;
   
  }
  .continair-B img{
   /*max-width: 100%;*/
   height: 453px;
   width: 759px;
  }
  .doyou  {
    max-width: 100%;
    min-width: 500px;
    margin: 0;
    padding:70px 30px;
    text-align: center;
    background-color:rgb(250, 248, 248);
    border-top: 2px solid rgb(218, 214, 214);
    border-bottom: 2px solid rgb(218, 214, 214);
    box-shadow:  4px 8px 0 rgba(218, 214, 214, 0.2), 0 6px 20px 0 rgba(240, 235, 235, 0.19);
  }
  .doyou p{
    font-size: 20px;
  }
  .doyou input{
    border: 1px solid white;
    background-color: rgb(11, 109, 238);
    color: white;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    width: 230px;
    font-weight: bold;
    margin-top: 25px;
  }
  .lien{
    max-width: 100%;
    min-width: 400px;
    margin: 0;
    padding:80px 30px;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid rgb(211, 207, 207);
  }
  .Bsysteme{
   max-width: 100%;
   min-width: 800px;
   height: 300px;
   text-align: center;
   background-color: white;
   padding-top: 100px;
  }
  .values{
   display: grid;
   grid-template-columns: 50% 50%;
   height: 500px;
   color:white;
  }

  .values .imgroup{
    background-color: hsl(214, 66%, 32%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .valuesliste{
    display: flex;
    align-content: center;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35px;
  }
  /*.ourvalues li.ourvalues{
   border-bottom: 1px solid white;
  }
  /*.ourvalues span {
   display:inline-flex;
   text-align: right;
  }
   .spn1{
   display: flex;
  }*/
  .ourvalues li{
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   border-bottom: 1px solid white;
   line-height: 2.5;
   margin-top: 7px;
  }

  .ourvalues h2{
   margin-left: 35px;
   font-size: 40px;
   margin-top: 33px;
   padding-top: 10px;
  }
  .li, ul{
   color:white;
   list-style: none;
  }

  li,ul, a{
   color: white;
  }

  .contact{
   display: flex;
   height: 798px;
   background-color: white;
  }
  .contact p{ 
   margin-left: 200px;
    color: grey;
  }
  .contact h1{
   margin-left: 200px;
   font-size: 40px;
   padding-top: 60px;
  }

  .contactus{
   height: 700px;
   width: 100%;
  }
  .contactus img{
   height: 500px;
   width: 560px;
   margin-left:220px;
  }
  .carrebleu{
   height: 310px;
   width: 315px;
   background-color: RGB(223, 240, 255);
   padding-top: 10px;
   margin-right: 300px;
   margin-top: 205px;
  }
  .imagecote img{
   margin: 20px;
  }

  .imagecote p{
   margin:10px;
  }
  .localisation{
    height: 150px;
    width: 315px;
    margin-right: 300px;
    margin-top: 20px;
    background-color: rgb(238, 236, 236);
  }






  


  









   
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 


 

 
